<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests">
  <test name="FirefoxTest">
	  <parameter name="Browser" value="Firefox" />
      <classes>
      <class name="com.automationtest.testng.LoginWithTwoBrowsers"/>
      </classes>
  </test> <!-- Test --> 
   
  <test name="ChromeTest">    
	<parameter name="Browser" value="Chrome" />
    <classes>
       <class name="com.automationtest.testng.LoginWithTwoBrowsers"/>
    </classes>
     
  </test> <!-- Test -->
</suite> <!-- Suite -->